body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import './login.css';
@import './otp.css';
@import './socialEvent.css';
@import './curateEvents.css'